body {
    background: linear-gradient(to bottom, #ffe78f, #ffb74d, #ff9300);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Edicion de la caja exterior que contiene todo */
form {
    width: 23vw;
    padding: 16px;
    margin-top: 10vh;
    margin-left: 36vw;
    background: linear-gradient(to bottom, #ffc266, #ff8000, #ff5c00);
}

/* Edición del texto que aparece */
form label {
    width: 72px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Edicion del boton de enviar datos */
form input[type="submit"] {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    display: block;
    color: rgb(255, 255, 255);
    background: linear-gradient(to bottom, #ff5500, #e63900);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Edicion del campo password */
form input[type="password"] {
    width: 20.3vw;
    padding: 5px 15px;
    border-radius: 3px;
    background-color: #ffd8b8;
    margin: 15px 0;
    display: inline-block;
}

/* Edicion del apartado de confirmar la contraseña */
form input[type="text"] {
    width: 20.3vw;
    padding: 5px 15px;
    border-radius: 3px;
    background-color: #ffd8b8;
    margin: 15px 0;
    display: inline-block;
}

/* Edicion del boton de retroceso */
.far {
    color: white;
    font-size: 30px;
}

/* Estilo para el botón */
#enviar {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 2%;
    width: 50%;
    margin-top: 2vh;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button#enviar:disabled {
    background-color: gray;
}

#enviar:hover {
    background-color: #ff471a;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

#enviar:active {
    background-color: #e63900;
    transform: scale(0.95);
    box-shadow: none;
}

